{% extends 'db_base.html' %}
{% load static %}
{% block title %}Create of Person{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "my_db_static/css/index.css" %}">
{% endblock %}

{% block content %}
            <form method="post" enctype="multipart/form-data" action="{% url 'create_person' %}">
            {% csrf_token %}
            <div class="container">
                     <div class="row">
                <div class="col-4">
                {{ form.as_ul }}
            {% block to_add  %}
            <input id="form-submit" type="submit" value="Send">
            {% endblock %}
                </div>

                  <div class="col-4">
                <h4>{{ success }}</h4>
            {% block features %}

            {% endblock %}


                </div>
                     </div>
            </div>
            </form>
{% endblock %}