{% block urls %}
    {% for project in projects %}
          <li class="list-group-item">

        <form method="POST" action="
{% url 'add_person_to_p' pk=person_pk  %}"
       input type="radio" name="pr_id" value="{{ project.id }}">
            {{ project.project_name }} {{ project.client }}
        </form>
    </li>
     {% empty %}
     <li>Нет проектов</li>
     {% endfor %}
<p><input type="submit"></p>
{% endblock %}

<!--
           <p><a class="btn btn-primary"  href="{% url 'fam_tree_schema' pk=cur_person.id%}">Древо человека</a></p>
           <p><a class="btn btn-primary" href="{% url 'change_person' pk=cur_person.id%}">Изменить данные</a></p>
           <p><a class="btn btn-primary" href="{% url 'photo_list_id' pk=cur_person.id%}">Человек на фото</a></p>
           <p><a class="btn btn-primary" href="{% url 'kinfolk_list' pk=cur_person.id%}">Родственники</a></p>
-->