{% extends 'db_base.html' %}
{% load static %}
{% load concat_address %}
{% block title %}List of Projects{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "my_db_static/css/index.css" %}">
{% endblock %}

{% block content %}
            <h2>Projects</h2>
            {% csrf_token %}
            <div class="container">
                     <div class="row">
                <div class="col-8">

                    <ul class="list-group">
                       {% for project in object_list %}
                        <li class="list-group-item">
                         <a    href="{% url 'get_project' project.id  %}">
                      {{ project.id }}{{ project.client }} : {{ project.vacancy }} - {{ project.creating_date }}
                        </a>
                        </li>
                       {% empty %}
                        <li>Нет компаний</li>
                       {% endfor %}
                    </ul>


                </div>

                     </div>
            </div>
            </form>
{% endblock %}